* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --header1: calc(2rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(2.4rem + 1vw);
  --text: calc(1.5rem + 1vw);
  --big: calc(6rem + 1vw);
  --special-color: rgb(144, 98, 114);
  --background-color: #414141;
  --gray-text: #525252;
  /* just add beautiful animation for scroll */
  scroll-behavior: smooth;
}
@media screen and (max-width: 1700px) {
  html {
    --header1: 3rem;
    --header2: 4.5rem;
    --header3: 4rem;
    --header4: 2.5rem;
    --text: 3rem;
    --big: 6rem;
  }
}
